# Development Tools
jupyter==1.0.0
ipykernel==6.25.2
ipywidgets==8.1.1

# Code Quality
black==23.10.0
flake8==6.1.0
pylint==3.0.2

# Testing
pytest==7.4.3
pytest-cov==4.1.0

# Documentation
mkdocs==1.5.3
mkdocs-material==9.4.8
